{% extends "base.html" %}
{% block title %}Annotate{% endblock %}
{% block content %}
<div style="height: 90vh; width: 60vw" class="inline-block bg-gray-100 shadow-md rounded">
  <div class="absolute w-full h-screen left-0 top-0">
    <div class="absolute w-full h-screen left-0 top-0 pointer-events-none">
      <div class="relative w-full h-screen left-0 top-0 pointer-events-auto" id="osd"></div>
    </div>
    <div class="absolute w-full h-screen left-0 top-0">
      <div class="relative w-full h-screen left-0 top-0 pointer-events-none" id="geojs"></div>
    </div>
  </div>
  <div class="controls-container">
    <button data-type="point">Point</button>
    <button data-type="rectangle">Rectangle</button>
    <button data-type="polygon">Polygon</button>
    <button onclick="downloadROIs()">Download Annotations</button>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.4.2/openseadragon.min.js"></script>
<script>
  const height = 9221;
  const width = 7026;
  const tsize = 256;

  var index = 0;

  osd = OpenSeadragon({
    id: 'osd',
    prefixUrl: 'https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.4.2/images/',
    tileSources: {
      Image: {
        xmlns: "http://schemas.microsoft.com/deepzoom/2008",
        Url: "./images/test_files/",
        Format: "png",
        Overlap: "2",
        TileSize: "128",
        Size: {
          Height: "2967",
          Width: "2220"
        }
      }
    }
  });

  // initialize the geojs viewer
  const params = geo.util.pixelCoordinateParams('#geojs', width, height, tsize, tsize);
  params.map.clampZoom = false;
  params.map.clampBoundsX = false;
  params.map.clampBoundsY = false;
  const map = geo.map(params.map);
  const layer = map.createLayer('annotation');

  // turn off geojs map navigation
  map.interactor().options({
    actions: []
  });

  // get the current bounds from the osd viewer
  function getBounds() {
    return osd.viewport.viewportToImageRectangle(osd.viewport.getBounds(true));
  }

  // set the geojs bounds from the osd bounds
  function setBounds() {
    const bounds = getBounds();
    map.bounds({
      left: bounds.x,
      right: bounds.x + bounds.width,
      top: bounds.y,
      bottom: bounds.y + bounds.height
    });

  }

  // add handlers to tie navigation events together
  osd.addHandler('open', setBounds);
  osd.addHandler('animation', setBounds);

  var rois = [];

  // add a handler for when an annotation is created
  function created(evt) {
    $('#geojs .geojs-layer').css('pointer-events', 'none');

    // write out the annotation definition
    // console.log(evt.annotation.features()[0]);
    rois.push(evt.annotation.features()[0]);
  }

  function downloadROIs() {
    var fileContent = JSON.stringify(rois);

    var bb = new Blob([fileContent], {
      type: 'text/plain'
    });
    var a = document.createElement('a');
    a.download = 'annotations.txt';
    a.href = window.URL.createObjectURL(bb);
    a.click();

    console.log(fileContent);
  }

  map.geoOn(geo.event.annotation.state, created);

  // add handlers for drawing annotations
  function draw(evt) {
    $('#geojs .geojs-layer').css('pointer-events', 'auto');
    const type = $(evt.target).data('type');
    layer.mode(type);
  }
  $('.controls-container button').click(draw);
</script>
{% endblock %}
